<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div class="col-md-4 col-md-offset-2">
        <br>
        <br>
        <div class="form-group">
            <select name="" id="tinh" class="form-control">
                $('#tinh').append(`
                    <option selected="selected"> Chọn Tỉnh/Thành </option>
                `);
                <% data.forEach(item => {%>
                    <option value="<%= item.ID%>"><%= item.Title%></option>
                <%})%>
            </select>
        </div>
        <br>
        <div class="form-group">
            <select name="" id="_huyen" class="form-control">
            </select>
        </div>
        <br>
        <div class="form-group">
            <select name="" id="_xa" class="form-control">
            </select>
        </div>
    </div>

        <script>
            $(document).ready(function(){
                $('#tinh').change(function(e){
                    const id_tinh = $('#tinh option:selected').val();

                    $.get(`/lay-huyen-cua-tinh/${id_tinh}`, function(data, status){
                        const array_huyen = data.data;
                        $('#_huyen').empty();
                        $('#_huyen').append(`
                          <option selected="selected"> Chọn Quận/Huyện </option>
                        `);
                        array_huyen.forEach(element => {
                            $('#_huyen').append(`
                                <option value="${element.ID}">${element.Title}</option>
                            `);
                        });
                    });
                });
                $('#_huyen').change(function(e){
                    const id_huyen = $('#_huyen option:selected').val();

                    $.get(`/lay-xa-cua-tinh-huyen/${id_huyen}`,( data, status ) => {
                        const array_xa = data.data;
                        $('#_xa').empty();
                        $('#_xa').append(`
                          <option selected="selected"> Chọn Xã/Phường </option>
                        `);
                        array_xa.forEach(element => {
                            $('#_xa').append(`
                                <option value="${element.ID}">${element.Title}</option>
                            `);
                        });
                    })
                })
            })
        </script>
</body>
</html>

